In [25]:
import requests
import logging as log
import time
import os
from datetime import datetime
import pandas as pd

In [58]:

def _getJason(url, f='json'):
    """Internal Function to hit
    """
    log.info('Retrieving Jason for %s' % url)
    data = None
    try:
        resp = requests.get(url)#, data=json.dumps(r_payload),
                            #headers=self.headers)
        if resp.status_code == 200:
            if f=='json':
                data = resp.json()
            else:
                data = resp.text
        else:
            log.error('Unable to get data, status code %s' % resp.status_code)
    except Exception as e:
        log.error("Error getting json %s" % e)

    return data

## Coindesk Data

In [156]:
base_url = 'https://api.coindesk.com/charts/data?data=close&output=json'
data_url = '&startdate={0}&enddate={1}&exchanges=bpi&dev=1&index={2}'

## values for index
# 'ETH' or 'USD'

url = base_url + data_url.format('2017-08-01','2017-08-02','USD')
url = 'https://api.coindesk.com/charts/data?output=json&data=close&index=USD&startdate=2014-09-01&enddate=2014-09-02&exchanges=bpi&dev=1'

In [157]:
data = _getJason(url, f='text')

In [158]:
data = eval(data.replace('cb(','').replace(');',''))

In [159]:
data.keys()

dict_keys(['bpi'])

In [160]:
df = pd.DataFrame(data['bpi'], columns=['timestamp','price'])

In [161]:
df['dt'] = df['timestamp'].apply(lambda x: datetime.fromtimestamp(x/1000))

In [162]:
df[df['dt']>'2016-09-01'].sort_values(['dt'])

          timestamp      price                  dt
3615  1472774400000   574.1475 2016-09-01 20:00:00
3616  1472947200000   608.9175 2016-09-03 20:00:00
3617  1473120000000   611.0700 2016-09-05 20:00:00
3618  1473292800000   624.9488 2016-09-07 20:00:00
3619  1473465600000   622.2125 2016-09-09 20:00:00
3620  1473638400000   606.3075 2016-09-11 20:00:00
3621  1473811200000   608.2200 2016-09-13 20:00:00
3622  1473984000000   606.3338 2016-09-15 20:00:00
3623  1474156800000   608.6988 2016-09-17 20:00:00
3624  1474329600000   599.4738 2016-09-19 20:00:00
3625  1474502400000   595.0350 2016-09-21 20:00:00
3626  1474675200000   601.3413 2016-09-23 20:00:00
3627  1474848000000   606.8125 2016-09-25 20:00:00
3628  1475020800000   603.5188 2016-09-27 20:00:00
3629  1475193600000   608.4375 2016-09-29 20:00:00
3630  1475366400000   610.2913 2016-10-01 20:00:00
3631  1475539200000   609.3750 2016-10-03 20:00:00
3632  1475712000000   610.9000 2016-10-05 20:00:00
3633  1475884800000   616.5963 2016-10-07 20:00:00
3634  1476057600000   617.4225 2016-10-09 20:00:00
3635  1476230400000   635.0813 2016-10-11 20:00:00
3636  1476403200000   638.3675 2016-10-13 20:00:00
3637  1476576000000   639.8275 2016-10-15 20:00:00
3638  1476748800000   635.5088 2016-10-17 20:00:00
3639  1476921600000   628.6225 2016-10-19 20:00:00
3640  1477094400000   652.7150 2016-10-21 20:00:00
3641  1477267200000   648.3988 2016-10-23 20:00:00
3642  1477440000000   674.3575 2016-10-25 20:00:00
3643  1477612800000   688.0963 2016-10-27 20:00:00
3644  1477785600000   696.3538 2016-10-29 20:00:00
...             ...        ...                 ...
3770  1499558400000  2525.6750 2017-07-08 20:00:00
3771  1499731200000  2332.1875 2017-07-10 20:00:00
3772  1499904000000  2364.5163 2017-07-12 20:00:00
3773  1500076800000  1993.2588 2017-07-14 20:00:00
3774  1500249600000  2244.2650 2017-07-16 20:00:00
3775  1500422400000  2294.4050 2017-07-18 20:00:00
3776  1500595200000  2694.2913 2017-07-20 20:00:00
3777  1500768000000  2762.6263 2017-07-22 20:00:00
3778  1500940800000  2591.2163 2017-07-24 20:00:00
3779  1501113600000  2697.4725 2017-07-26 20:00:00
3780  1501286400000  2720.0800 2017-07-28 20:00:00
3781  1501459200000  2873.8325 2017-07-30 20:00:00
3782  1501632000000  2723.5800 2017-08-01 20:00:00
3783  1501804800000  2883.6813 2017-08-03 20:00:00
3784  1501977600000  3255.0025 2017-08-05 20:00:00
3785  1502150400000  3453.1625 2017-08-07 20:00:00
3786  1502323200000  3445.2800 2017-08-09 20:00:00
3787  1502496000000  3917.6488 2017-08-11 20:00:00
3788  1502668800000  4382.7413 2017-08-13 20:00:00
3789  1502841600000  4425.2963 2017-08-15 20:00:00
3790  1503014400000  4159.4575 2017-08-17 20:00:00
3791  1503187200000  4111.2200 2017-08-19 20:00:00
3792  1503360000000  4137.6725 2017-08-21 20:00:00
3793  1503532800000  4362.4750 2017-08-23 20:00:00
3794  1503705600000  4387.4613 2017-08-25 20:00:00
3795  1503878400000  4439.6588 2017-08-27 20:00:00
3796  1504051200000  4630.7275 2017-08-29 20:00:00
3797  1504224000000  4950.7238 2017-08-31 20:00:00
3798  1504396800000  4631.6950 2017-09-02 20:00:00
3799  1504569600000  4422.1213 2017-09-04 20:00:00

[185 rows x 3 columns]

In [84]:
url

'https://api.coindesk.com/charts/data?data=close&output=json&startdate=2017-08-01&enddate=2017-08-02&exchanges=bpi&dev=1&index=USD'

## Coinmarketcap Data

In [59]:
url = "https://graphs.coinmarketcap.com/currencies/bitcoin/1504540192667/1504626592667/"
url = "https://graphs.coinmarketcap.com/currencies/neo/1504573208234/1504659608234/"

In [60]:
data = _getJason(url)

In [61]:
data.keys()

dict_keys(['market_cap_by_available_supply', 'volume_usd', 'price_usd', 'price_btc'])

In [45]:
df = pd.DataFrame(data['price_usd'], columns=['timestamp','price'])

In [46]:
df.head()

       timestamp    price
0  1504573482000  20.4194
1  1504573783000  20.4303
2  1504574081000  20.6652
3  1504574380000  20.6067
4  1504574683000  20.1017

In [47]:
df['dt'] = df['timestamp'].apply(lambda x: datetime.fromtimestamp(x/1000))

In [48]:
df.sort_values(['dt'])

         timestamp    price                  dt
0    1504573482000  20.4194 2017-09-04 21:04:42
1    1504573783000  20.4303 2017-09-04 21:09:43
2    1504574081000  20.6652 2017-09-04 21:14:41
3    1504574380000  20.6067 2017-09-04 21:19:40
4    1504574683000  20.1017 2017-09-04 21:24:43
5    1504574982000  20.0971 2017-09-04 21:29:42
6    1504575279000  19.8870 2017-09-04 21:34:39
7    1504575578000  19.8692 2017-09-04 21:39:38
8    1504575879000  19.6719 2017-09-04 21:44:39
9    1504576179000  19.3027 2017-09-04 21:49:39
10   1504576479000  19.2581 2017-09-04 21:54:39
11   1504576779000  19.4211 2017-09-04 21:59:39
12   1504577074000  19.1445 2017-09-04 22:04:34
13   1504577404000  18.9272 2017-09-04 22:10:04
14   1504577675000  19.0036 2017-09-04 22:14:35
15   1504577973000  18.9996 2017-09-04 22:19:33
16   1504578303000  18.9377 2017-09-04 22:25:03
17   1504578578000  18.9563 2017-09-04 22:29:38
18   1504578873000  19.1922 2017-09-04 22:34:33
19   1504579173000  19.2549 2017-09-04 22:39:33
20   1504579476000  20.1532 2017-09-04 22:44:36
21   1504579772000  20.7573 2017-09-04 22:49:32
22   1504580074000  20.0745 2017-09-04 22:54:34
23   1504580375000  20.4702 2017-09-04 22:59:35
24   1504580674000  20.2005 2017-09-04 23:04:34
25   1504580976000  20.1090 2017-09-04 23:09:36
26   1504581272000  19.8460 2017-09-04 23:14:32
27   1504581581000  19.6685 2017-09-04 23:19:41
28   1504581875000  19.1977 2017-09-04 23:24:35
29   1504582173000  19.3776 2017-09-04 23:29:33
..             ...      ...                 ...
197  1504632577000  23.0213 2017-09-05 13:29:37
198  1504632881000  23.2469 2017-09-05 13:34:41
199  1504633176000  23.1951 2017-09-05 13:39:36
200  1504633488000  23.2449 2017-09-05 13:44:48
201  1504633780000  23.3034 2017-09-05 13:49:40
202  1504634143000  23.2958 2017-09-05 13:55:43
203  1504634408000  23.2509 2017-09-05 14:00:08
204  1504634689000  23.2950 2017-09-05 14:04:49
205  1504635008000  23.2753 2017-09-05 14:10:08
206  1504635277000  23.1677 2017-09-05 14:14:37
207  1504635576000  23.2691 2017-09-05 14:19:36
208  1504635885000  23.1778 2017-09-05 14:24:45
209  1504636175000  23.0897 2017-09-05 14:29:35
210  1504636480000  23.2154 2017-09-05 14:34:40
211  1504636784000  23.2050 2017-09-05 14:39:44
212  1504637075000  23.1964 2017-09-05 14:44:35
213  1504637380000  23.1685 2017-09-05 14:49:40
214  1504637677000  23.1073 2017-09-05 14:54:37
215  1504637984000  22.9520 2017-09-05 14:59:44
216  1504638271000  22.8505 2017-09-05 15:04:31
217  1504638577000  22.7736 2017-09-05 15:09:37
218  1504638872000  22.6964 2017-09-05 15:14:32
219  1504639174000  22.8362 2017-09-05 15:19:34
220  1504639482000  22.7672 2017-09-05 15:24:42
221  1504639774000  22.8266 2017-09-05 15:29:34
222  1504640073000  22.7709 2017-09-05 15:34:33
223  1504640377000  22.7862 2017-09-05 15:39:37
224  1504640674000  22.7762 2017-09-05 15:44:34
225  1504640980000  22.9049 2017-09-05 15:49:40
226  1504641295000  23.0395 2017-09-05 15:54:55

[227 rows x 3 columns]

Notes:

* Coinmarketcap has data at 5-minute intervals 
* Advantages - many different currencies